# Ignore node_modules folders in both client and server
node_modules/
server/node_modules/
client/node_modules/

# Ignore build output folder from the React app
client/build/

# Ignore environment variable files (sensitive info)
.env

# macOS specific files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
